<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${environment:LOCALAPPDATA}/KeedbaSoft/logs"/>
    <targets>
      <target name="fileLogger" xsi:type="AsyncWrapper">
        <target xsi:type="RetryingWrapper">
          <target xsi:type="File"
                  layout="${logger} - ${date:universalTime=False:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level}: ${message}"
                  fileName="${logDirectory}/getrush.log"
                  archiveAboveSize="20480000"
                  maxArchiveFiles="3"
                  archiveFileName="${logDirectory}/getrush-{#}.log"
                  archiveNumbering="Rolling"
          />
        </target>
      </target>
      <target name="debugLogger" xsi:type="Debugger"
              layout="${logger} - ${date:universalTime=False:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level}: ${message}"
      />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="fileLogger" />
      <logger name="*" minlevel="Debug" writeTo="debugLogger" />
    </rules>
  </nlog>
</configuration>